/* =========================
   HERO / BANNER
========================= */

.hero {
    padding: 22px 30px 0;
}

.heroContent {
    height: 330px;
    border-radius: 16px;
    background-color: #ddd;
    background-image: url("../../../assets/banner.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* =========================
   LOGO
========================= */

.logo {
    width: 150px;
    height: 150px;

    position: absolute;
    left: 45px;
    bottom: -75px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    display: block;
}

/* =========================
   INFORMAÇÕES DA PIZZARIA
========================= */

.restaurantInfo {
    padding: 90px 30px 0;
}

.restaurantInfo h1 {
    margin: 0;
    color: #1d3557;
    font-size: 32px;
}

.info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #697586;
    font-size: 14px;
}

.info svg {
    margin-right: 5px;
}

.open {
    color: #ff6b00;
    font-weight: 600;
}

/* =========================
   FILTROS
========================= */

.filters {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories {
    width: 200px;
    height: 44px;
    padding: 0 12px;
    background-color: white;
    border: 1px solid #d9dce1;
    border-radius: 6px;
    color: #536174;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.categories:focus {
    border-color: #ff6b00;
}

/* =========================
   BUSCA
========================= */

.search {
    width: 310px;
    height: 44px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: white;
    border: 1px solid #d9dce1;
    border-radius: 6px;
}

.search svg {
    color: #697586;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.search input::placeholder {
    color: #697586;
}